# Environment
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Data (volumineux)
data/raw/**
data/bronze/**
data/silver/**
data/gold/**
!data/**/.gitkeep

# Spark
spark-warehouse/
metastore_db/
derby.log

# Airflow
airflow/logs/
airflow/airflow.db

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Quality reports
data/quality_results/

# Jupyter
.ipynb_checkpoints/
